@use 'src/style/breakpoints.scss';

.forEditorsSidebar {
  min-width: 200px;
  max-width: 200px;

  @media (max-width: breakpoints.$sm) {
    display: none;
  }

  &-header {
    margin-bottom: 20px;

    &-title {
      display: flex;
      justify-content: space-between;

      &-text {
        font-weight: bold;
      }

      &-caret {
        cursor: pointer;
        width: auto;
      }
    }

    &-subheaders {
      padding-left: 16px;

      &-subheader {
        margin-top: 8px;
        font-size: 0.9em;
      }
    }
  }
}
