.swiper {
  width: 100%;

  &-page-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0px -40px 20px -40px;

    @media (max-width: $xsm) {
      margin: 0px -8px 20px -8px;
    }
  }

  &-pagination {
    position: relative;
    z-index: 1;

    &-bullet {
      background: var(--grey-light);

      &-active {
        background: var(--red);
      }
    }
  }

  &-button-prev, &-button-next {
    width: 22px;
    height: 40px;
    position: relative;
    left: 0;
    right: 0;
    color: var(--red);
    z-index: 1;
  }
}