@use 'src/style/breakpoints.scss';
.swiper {
  width: 100%;

  &-page-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0px -40px 20px -40px;

    @media (max-width: breakpoints.$sm) {
      margin: 0px -20px 20px -20px;
    }

    @media (max-width: breakpoints.$xsm) {
      gap: 4px;
      margin: 0px -14px 20px -14px;
    }
  }

  &-pagination {
    position: relative;
    z-index: 1;

    &-bullet {
      background: var(--grey-light);

      &-active {
        background: var(--primary);
      }
    }
  }

  &-button-prev,
  &-button-next {
    width: 22px;
    height: 40px;
    position: relative;
    left: 0;
    right: 0;
    color: var(--primary-accessible);
    z-index: 1;

    @media (max-width: breakpoints.$sm) {
      width: 11px;
      height: 20px;
    }

    &::after {
      content: '';
    }

    &-icon {
      width: 100%;
      height: 100%;
    }
  }
}
