@use 'src/style/breakpoints.scss';
.boardsSidebar {
  min-width: 265px;

  @media (max-width: breakpoints.$sm) {
    display: none;
  }

  &-resume {
    font-weight: bold;
    margin: 5px 0px 30px 0px;
  }

  &-links {
    @media (min-width: breakpoints.$sm + 1) {
      position: sticky;
      top: 130px;
      max-height: calc(100vh - 40px);
      overflow-y: auto;
    }

    &-row {
      margin-bottom: 15px;
      cursor: pointer;

      &-active {
        padding-bottom: 2px;
        text-decoration: underline;
      }
    }
  }
}
