.articles {
  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &-count {
      color: var(--grey);
      font-size: 21px;
      font-weight: 300;
      padding-left: 210px;
    }
  }

  &-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 15px 325px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--red);

    &-tags {
      display: flex;
      align-items: center;
      gap: 12px;

      &-clear {
        height: 32px;
        align-content: center;
        font-size: 14px;
        color: var(--red);
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &-abstracts {
      color: var(--red);
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    &-results {
      display: flex;

      &-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 60px;
      }
    }
  }
}