@use 'src/style/breakpoints.scss';
.footer {
  height: 65px;
  display: flex;
  flex-direction: column;
  font-size: 12px;

  &-disabled {
    display: none;
  }

  &-journal {
    display: flex;
    padding: 25px 80px 25px 25px;
    border-bottom: 2px solid var(--primary);
    box-shadow: 0px 0px 6px var(--black-shadow);

    @media (max-width: breakpoints.$sm) {
      padding: 25px;
    }

    &-logo {
      margin-right: 25px;
    }

    &-links {
      width: 100%;
      color: var(--primary-accessible);
      display: flex;
      justify-content: space-between;

      &-journal,
      &-rss {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 25px;

        @media (max-width: breakpoints.$sm) {
          gap: 12px;
        }

        @media (max-width: breakpoints.$xsm) {
          flex-direction: column;
          gap: 4px;
          align-items: flex-start;
          text-align: start;

          &-divider {
            display: none;
          }
        }
      }
    }
  }

  &-episciences {
    display: flex;
    padding: 25px 80px 25px 25px;

    @media (max-width: breakpoints.$sm) {
      padding: 25px;
    }

    @media (max-width: breakpoints.$xsm) {
      align-items: flex-start;
    }

    &-logo {
      margin-right: 25px;
      height: auto;

      @media (max-width: breakpoints.$xsm) {
        max-width: 80px;
        max-height: 40px;
      }
    }

    &-links {
      width: 100%;
      color: var(--blue-navy);
      display: flex;
      justify-content: space-between;

      &-documentation,
      &-legal {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 25px;

        @media (max-width: breakpoints.$sm) {
          gap: 8px;
        }

        @media (max-width: breakpoints.$xsm) {
          flex-direction: column;
          gap: 4px;
          align-items: flex-start;
          text-align: start;

          &-divider {
            display: none;
          }
        }
      }
    }
  }
}
