@use 'src/style/breakpoints.scss';

.forAuthors {
  &-title {
    margin-bottom: 30px;

    @media (max-width: breakpoints.$sm) {
      margin-bottom: 20px;
    }
  }

  &-navigation {
    display: flex;
    gap: 0;
    border-bottom: 2px solid var(--grey-light);
    margin-bottom: 40px;

    @media (max-width: breakpoints.$sm) {
      margin-bottom: 30px;
    }

    &-item {
      padding: 1rem 2rem;
      color: var(--black);
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      border-bottom: 3px solid transparent;
      transition: all 0.3s ease;
      cursor: pointer;
      position: relative;
      bottom: -2px;

      @media (max-width: breakpoints.$sm) {
        padding: 0.75rem 1rem;
        font-size: 14px;
      }

      &:hover {
        color: var(--primary);
        border-bottom-color: var(--primary);
      }

      &-active {
        color: var(--primary);
        border-bottom-color: var(--primary);
        font-weight: 600;
      }
    }
  }

  &-content {
    display: flex;

    &-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 60px;

      @media (max-width: breakpoints.$sm) {
        padding-left: 0px;
      }

      &-section {
        display: block;

        &-hidden {
          > *:not(.forAuthors-content-body-section-subtitle) {
            display: none;
          }
        }

        h2,
        h3 {
          scroll-margin: 120px;
        }

        h3,
        h4 {
          margin: 0;
        }

        h4 {
          margin-top: 16px;
        }

        p {
          margin: 16px 0px 16px 0px;
        }

        li p {
          margin: 0;
        }

        &-subtitle {
          display: flex;
          justify-content: space-between;
          padding: 0px 15px 8px 0px;
          margin: 20px 0px 20px 0px;
          border-bottom: 1px solid var(--primary);
          cursor: pointer;

          img,
          &-caret {
            width: auto;
          }

          &-text,
          &-caret {
            display: block;
          }
        }

        &-link {
          text-decoration: underline;
        }

        &-cards {
          &-card {
            display: flex;
            padding: 25px;
            border: 1px solid var(--grey);
            border-bottom: 4px solid var(--primary);
            margin-bottom: 15px;

            @media (max-width: breakpoints.$xsm) {
              flex-direction: column;
            }

            &-hidden {
              * {
                display: none;
              }
            }

            &-index {
              padding-right: 25px;
              color: var(--black);
              font-size: 40px;
              font-weight: 900;

              @media (max-width: breakpoints.$xsm) {
                padding-right: 0px;
                text-align: center;
              }
            }

            &-content {
              display: flex;
              flex-direction: column;
              gap: 10px;
              border-left: 1px solid var(--grey-light);
              padding-left: 25px;

              @media (max-width: breakpoints.$xsm) {
                border-left: none;
                padding-left: 0px;
              }

              &-title {
                color: var(--black);
                font-size: 18px;
                font-weight: bold;
                margin: 0px;

                @media (max-width: breakpoints.$xsm) {
                  text-align: center;
                  border-bottom: 1px solid var(--grey-light);
                  padding-bottom: 25px;
                }
              }

              p {
                margin: 4px 0;
              }
            }
          }
        }
      }
    }
  }
}
