.journalSection {
  padding: 12px 24px 12px 24px;
  border: 1px solid var(--grey);
  border-bottom: 4px solid var(--red);

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    li {
      color: var(--red);
      font-size: 14px;
      text-decoration: underline;
      margin-bottom: 10px;

      a {
        display: flex;
        gap: 5px;
      }
    }
  }
}