.boards {
  &-title {
    margin-bottom: 30px;
  }

  &-content {
    display: flex;

    &-groups {
      display: flex;
      flex-direction: column;

      &-group {
        margin-bottom: 45px;

        &-title {
          padding-bottom: 5px;
          margin-bottom: 20px;
          border-bottom: 1px solid var(--red);
        }

        &-description {
          margin-bottom: 20px;
        }

        &-grid {
          display: grid;
          gap: 15px;
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}