@use "src/style/breakpoints.scss";

.acknowledgments {
  &-title {
    margin-bottom: 15px;
    color: var(--blue-dark);
    font-size: 28px;
  }

  &-content {
    display: flex;
    gap: 35px;
  }

  &-sidebar {
    min-width: 265px;
    flex-shrink: 0;

    @media (max-width: breakpoints.$sm) {
      display: none;
    }
  }

  &-content-body {
    flex-grow: 1;
    max-width: calc(100% - 300px);
    margin-top: 31px;

    @media (max-width: breakpoints.$sm) {
      max-width: 100%;
    }
  }

}
