.statisticsSection {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  margin: 45px 0px 5px 120px;

  @media (max-width: $xsm) {
    flex-direction: column;
    gap: 15px;
    margin: 45px 0px 5px 0px;
    align-items: center;
  }

  &-row {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;

    &-stat {
      font-size: 40px;
      color: var(--red);
    }

    &-title {
      font-size: 22px;
      max-width: 300px;
    }
  }

  &-divider {
    width: 4px;
    background: var(--red);
  }
}