.search {
  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &-count {
      color: var(--grey);
      font-size: 21px;
      font-weight: 300;
      padding-left: 210px;
    }
  }

  &-icon {
    &-small {
      img {
        width: 17px;
      }
    }

    &-reverted {
      flex-direction: row-reverse;
      justify-content: start;
      gap: 14px;
    }
  }
}