.sectionCard {
  display: flex;
  flex-direction: column;
  padding: 30px 35px 20px 35px;
  border: 1px solid var(--grey);
  border-bottom: 4px solid var(--red);

  &-title {
    display: flex;
    font-size: 21px;
    margin-bottom: 20px;

    &-text {
      color: var(--red);
      font-weight: 600;
      padding-right: 30px;
      border-right: 1px solid var(--grey-light);
    }

    &-count {
      padding-left: 30px;
      font-weight: 300;
    }
  }

  &-description {
    margin-bottom: 25px;

    &-title {
      display: flex;
      gap: 8px;
      border-bottom: 1px solid var(--red);
      cursor: pointer;

      &-closed {
        width: 70px;
      }

      &-text {
        font-size: 16px;
        font-weight: bold;
        color: var(--red);
      }
    }

    &-content {
      display: none;
      font-size: 16px;
      margin-top: 8px;

      &-opened {
        display: block;
      }
    }
  }
}