@font-face {
  font-family: 'Noto-Sans';
  src: url('/src/style/fonts/Noto-Sans/noto-sans-v42-cyrillic_greek_latin_latin-ext-regular.woff2') format('woff2'),
       url('/src/style/fonts/Noto-Sans/noto-sans-v42-cyrillic_greek_latin_latin-ext-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Noto-Sans';
  src: url('/src/style/fonts/Noto-Sans/noto-sans-v42-cyrillic_greek_latin_latin-ext-italic.woff2') format('woff2'),
       url('/src/style/fonts/Noto-Sans/noto-sans-v42-cyrillic_greek_latin_latin-ext-italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}

