:root {
  --white: #FFFFFF;
  --black: #000000;
  --black-shadow: #0000001F;
  /* --red: #7A020D; */
  --red: #b65335;
  --journal-color: #2a2a6b;
  --grey: #7D7D8E;
  --grey-light: #B6B6C1;
  --grey-dark: #4E4E5F;
  --grey-darker: #363642;
  --blue-navy: #04005F;
  --blue-navy-dark: #00005E;
}