.volumeCard {
  display: flex;
  justify-content: space-between;
  padding: 30px 35px 20px 35px;
  border: 1px solid var(--grey);
  border-bottom: 4px solid var(--red);

  &-title {
    width: 260px;
    padding-right: 50px;
    border-right: 1px solid var(--grey-light);

    &-text {
      color: var(--red);
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 18px;
    }
    
    &-year {
      color: var(--black);
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    &-count {
      display: flex;
      gap: 4px;
      align-items: center;

      &-icon {
        height: 13px;
      }

      &-text {
        color: var(--grey-light);
        font-size: 13px;
      }
    }
  }

  &-content {

  }
}