.authorsSearchInput {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-input {
    color: var(--primary-accessible);
    font-size: 17px;
    font-style: italic;
    border: none;

    &::placeholder {
      color: var(--primary-accessible);
      opacity: 1;
    }

    &:focus-visible {
      outline: none;
    }
  }
}