.articlesSidebar {
  min-width: 265px;
  margin-top: -30px;

  &-typesSection-title, &-sectionsSection-title, &-yearsSection-title {
    font-weight: bold;
    border-bottom: 1px solid var(--grey-light);
    padding-bottom: 8px;
  }

  &-typesSection-types, &-sectionsSection-sections, &-yearsSection-years {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-choice {
      display: flex;
      gap: 18px;

      &-label {
        cursor: pointer;

        &-checked {
          color: var(--black);
        }
      }
    }
  }
}